/* Write your global styles here, in PostCSS syntax */
@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

@theme {
  --grid-template-columns-min-content-first: min-content 1fr;
  --grid-template-columns-desktop-top-menu: minmax(min-content, 1fr)
    minmax(min-content, 3fr) minmax(min-content, 1fr);
  --grid-template-columns-news-header: 1.75rem auto;

  --grid-template-rows-min-content-first: min-content 1fr;
  --grid-template-rows-body-template: 1fr auto;
  --grid-template-rows-news-preview: minmax(min-content, 15%)
    minmax(min-content, 15%) minmax(min-content, 55%) min-content;

  --breakpoint-gal-sm: 1060px;
  --breakpoint-gal: 1400px;
  --breakpoint-xxl: 1450px;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer utilities {
}

html,
body {
	@apply h-full overflow-hidden;
}
